
.card-container
{
    text-align:                 center;
    position:                   relative;
    margin:                     0.5em;
}

.card
{
    width:                      450px;
    max-width:                  100%;
    max-height:                 100vh;
    margin:                     0.5em;
    box-shadow:                 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.shufflable
{
    position:                   absolute;
}

.placeholder
{
    visibility:                 hidden;
}

.flip
{
    transition-property:        left, top, transform;
    transition-duration:        0.4s, 0.4s, 0.2s;
    transition-timing-function: ease;
}

.up
{
    transition-delay:           0s, 0s, 0.2s;
    transform:                  rotateY(0deg);
}

.down
{
    transform:                  rotateY(90deg);
}

