
@import url('https://fonts.googleapis.com/css?family=Philosopher:700');

@font-face
{
    font-family:                PirataOne;
    src:                        url(PirataOne-Gloomhaven.ttf);
}

.card-container
{
    position:                   relative;
    text-align:                 center;
    margin:                     0.5em;
}

.card
{
    position:                   relative;
    width:                      437px;
    height:                     296px;
    max-width:                  100%;
    max-height:                 100vh;
    margin:                     0.5em;

    box-shadow:                 5px 5px 5px rgba(0, 0, 0, 0.1);
    backface-visibility:        hidden;

    color:                      white;
    font-family:                'PirataOne';
    font-size:                  20pt;
    text-shadow:                1px 2px 3px black;

    background-clip:            content-box;
    background-origin:          content-box;
    background-repeat:          no-repeat;

    border-radius:              15px;
}

.card.front
{
    background-image:           url(images/front.jpg);
}

.card.back
{
    background-image:           url(images/back.jpg);
}

.card ul
{
    padding:                    0;

    list-style:                 none;
    text-align:                 center;

    font-family:                'Nyala', 'Sakkal Majalla', 'Philosopher', sans-serif;
}

.card>ul
{
    position:                   relative;
    top:                        10%;
    height:                     90%;
    overflow:                   hidden;
    margin:                     0 2ch;

    display:                    flex;
    flex-direction:             column;
    justify-content:            center;
}

.card li
{
    margin:                     0.25em 0;
}

.card li li
{
    font-size:                  75%;
    margin:                     0;
}

.icon
{
    height:                     1.25em;
    vertical-align:             bottom;
}

.icon.mirrored
{
    transform:                  scale(-1,1);
}

.icon.overlay
{
    margin-left:                -1.25em;
    z-index:                    1;
}

.icon.element
{
    vertical-align:             middle;
}

.card .initiative
{
    font-size:                  180%;
    text-align:                 center;

    position:                   absolute;
    left:                       0;
    top:                        18%;
    width:                      19%;
}

.card.front .name
{
    font-size:                  120%;
    text-align:                 center;

    position:                   absolute;
    left:                       0;
    top:                        0;
    width:                      100%;
    line-height:                200%;
}

.card.back .name
{
    text-align:                 center;
    font-size:                  90%;

    position:                   absolute;
    left:                       0;
    bottom:                     15.5%;
    width:                      100%;
}

.card .number
{
    font-family:                initial;
    font-size:                  30%;
    text-shadow:                none;

    position:                   absolute;
    left:                       3%;
    bottom:                     5%;
}

img[src="images/shuffle.svg"]
{
    position:                   absolute;
    right:                      3%;
    bottom:                     5%;
    height:                     1.25em;
}

.card::selection
{
    color:                      rgba(0, 0, 0, 0);
    background:                 rgba(0, 0, 0, 0);
}

.shufflable
{
    position:                   absolute;
}

.placeholder
{
    visibility:                 hidden;
}

.flip
{
    transition-property:        left, top, transform;
    transition-duration:        0.4s;
    transition-timing-function: ease;
}

.up
{
    transform:                  rotateY(0deg);
}

.down
{
    transform:                  rotateY(180deg);
}

