
body
{
    margin:             0;
    overflow-x:         hidden;
}

.nobr
{
    white-space:        nowrap;
}

.big-icon
{
    height: 35px;  /* aoe icons need to be bigger */
}

#tableau
{
    display:            flex;
    flex-wrap:          wrap;
    justify-content:    space-around;
}

ul.tabcontainer
{
    display:            flex;
    margin:             0;
    padding:            0;
    list-style:         none;
}

ul.tabcontainer li
{
    flex:               1 1 0;
    text-align:         center;
    padding:            1em;
    cursor:             pointer;

}

ul.tabcontainer li:not(:first-child)
{
    border-left:       1px solid black;
}

ul.tabcontainer .inactive
{
    background-color:   #CCCCCC;
}

.tabbody
{
    padding:            1em;
    margin-bottom:      4em;
}

.tabbody.inactive
{
    display:            none;
}

.selectionlist
{
    list-style:         none;
    padding:            0;
}

.panecontainer
{
    position:           fixed;
    top:                0;
    left:               0;
    max-width:          100vw;
    height:             0;
    z-index:            2;
}

.pane
{
    position:           relative;
    left:               0;
    height:             100vh;
    overflow-x:         hidden;
    overflow-y:         auto;
    background:         white;
    box-shadow:         1em 0 1em rgba(0, 0, 0, 0.5);
    transition:         left 0.2s ease;
    z-index:            1;
}

.pane.inactive
{
    left:               -110%; /* fallback */
    left:               calc(-100% - 2em);
}

#cancelarea
{
    position:           absolute;
    left:               0;
    top:                0;
    width:              100vw;
    height:             100vh;
    background-color:   rgba(0, 0, 0, 0.5);
    z-index:            0;
}

#settingsbtn
{
    margin-left:        1em;
    margin-top:         1em;
    width:              5ch;
    height:             5ch;
    cursor:             pointer;
    z-index:            1;
}

