
body
{
    margin:             0;
    overflow-x:         hidden;
    font-family: Helvetica, Arial, sans-serif;
    background: black;
}

.nobr
{
    white-space:        nowrap;
}

input[type="button"] {
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 0.6em 0;
    padding: 1em 0.6em;
    background: #222;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
}

input[type="number"] {
    padding: 0.3em 0.6em;
    font-size: 1.2rem;
    margin: 0.6em 0;
    min-width: 20px;
}

#tableau
{
    display:            -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack:   center;
    -webkit-box-lines:  multiple;

    display:            -webkit-flex;
    -webkit-flex-wrap:  wrap;
    -webkit-justify-content: space-around;

    display:            flex;
    flex-wrap:          wrap;
    justify-content:    space-around;
}

@media only screen and (max-height: 480px) and (orientation: portrait) {
    #tableau {
        -webkit-box-orient: vertical;
    }
}

ul.tabcontainer
{
    display:            -webkit-box;
    -webkit-box-orient: horizontal;
    display:            flex;
    padding:            16px 16px 0 16px;
    margin: 0 0 1em;
    list-style:         none;
    background: #f0f5f9;
}

ul.tabcontainer li
{
    -webkit-box-flex:   1;
    flex:               1 1 0;
    text-align:         center;
    padding:            0.4em 1em 1em;
    cursor:             pointer;
    color: #222;
    font-weight: bold;
    border-bottom: solid 3px #222;
}

ul.tabcontainer .inactive
{
    opacity: 0.5;
    border-bottom-color: transparent;
}

.tabbody
{
    padding:            1em;
    margin-bottom:      4em;
}

.tabbody.inactive
{
    height:             0;
    margin-top:         0;
    margin-bottom:      0;
    padding-top:        0;
    padding-bottom:     0;
    overflow:           hidden;
}

.selectionlist
{
    list-style:         none;
    padding:            0;
}

.panecontainer
{
    position:           fixed;
    top:                0;
    left:               0;
    max-width:          100vw;
    height:             0;
    z-index:            2;
}

.pane
{
    position:           relative;
    left:               0;
    height:             100vh;
    overflow-x:         hidden;
    overflow-y:         auto;
    background:         white;
    box-shadow:         1em 0 4em rgba(0, 0, 0, 0.5);
    -webkit-transition: left 0.25s ease-in-out;
    transition:         left 0.25s ease-in-out;
    z-index:            1;
}

.pane.inactive
{
    left:               -110%; /* fallback */
    left:               calc(-100% - 2em);
}

.hiddendeck
{
    display: none;
}

#currentdecks {
    margin: 1rem 0 0 4rem;
    text-align: center;
    color: white;
}

ul.currentdeckslist {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.currentdeck {
    float: left;
}

li.currentdeck a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #808594;
}

li.currentdeck a:hover {
    color: #fff;
}

#cancelarea
{
    position:           absolute;
    left:               0;
    top:                0;
    width:              100vw;
    height:             100vh;
    background-color:   rgba(0, 0, 0, 0.5);
    z-index:            0;
}

#settingsbtn
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    cursor:             pointer;
    z-index:            1;
}

#settingsbtn:focus {
    outline: 0 none;
    background: #555;
}
