
#container
{
    display:            flex;
    flex-wrap:          wrap;
}

ul.tabcontainer
{
    display:            flex;
    margin:             0;
    padding:            0;
    list-style:         none;
}

ul.tabcontainer li
{
    flex:               1 1 0;
    text-align:         center;
    padding:            1em;
}

ul.tabcontainer li:not(:first-child)
{
    border-left:       1px solid black;
}

ul.tabcontainer .inactive
{
    background-color:   #CCCCCC;
}

.settingspane
{
    position:           fixed;
    top:                0;
    left:               0;
    height:             100vh;
    overflow-x:         hidden;
    overflow-y:         auto;
}

.settingspane .expanded
{
}

.choice
{
/*    position:           absolute;
    top:                0;
    left:               0;*/
}
